<div class="login">
    <form [formGroup]="loginForm" class="form">
        <img class="logo_img" src="assets/images/chavin.webp" alt="Textileria Chavin">
        <mat-form-field appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput type="text" formControlName="correo">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" formControlName="contraseña">
        </mat-form-field>
        <ng-container *ngIf="!loading">
            <button mat-flat-button  (click)="login()" >Iniciar Sesión</button>
        </ng-container>
        

        <div class="loading" *ngIf="loading">
            <div class="lds-facebook"><div></div><div></div><div></div></div>
        </div>
        
    </form>
</div>


<img class="img_bg" src="assets/images/login.png" alt="">