
<nav class="nav__content">
    <div class="nav__toggle" id="nav-toggle">
        <i class='bx bx-chevron-right' ></i>
    </div>

    <a href="#" class="nav__logo">
        <mat-icon>home</mat-icon>
        <span class="nav__logo-name">Textil Chavin</span>
    </a>

    <div class="nav__list">
        <a href="#" class="nav__link active-link">
            <mat-icon>settings</mat-icon>
            <span class="nav__name">Dashboard</span>
        </a>

        <a href="#" class="nav__link">
            <mat-icon>assignment</mat-icon>
            <span class="nav__name">Appointments</span>
        </a>

        <a href="#" class="nav__link">
            <mat-icon>settings</mat-icon>
            <span class="nav__name">Messages</span>
        </a>

        <a href="#" class="nav__link">
            <mat-icon>assessment</mat-icon>
            <span class="nav__name">Statistic</span>
        </a>

        <a href="#" class="nav__link">
            <mat-icon>settings</mat-icon>
            <span class="nav__name">Settings</span>
        </a>
    </div>
</nav>

