<div class="fullpage">
    <div class="fullpage__navbar">
      <app-header></app-header>
    </div>
    <div class="fullpage__container">
      <div class="nav" id="nav" [ngClass]="toggle == true ? 'show-menu' : ''">
        
<nav class="nav__content" >
  <div class="nav__toggle" [ngClass]="toggle == true ? 'rotate-icon' : ''" (click)="toggle = !toggle" id="nav-toggle">
      <mat-icon>arrow_right</mat-icon>
  </div>

  <a href="https://www.textilchavin.com.pe" target="_blank"  class="nav__logo">
      <mat-icon>home</mat-icon>
      <span class="nav__logo-name">Textil Chavin</span>
  </a>

  <div class="nav__list">
      <a [routerLink]="['']" routerLinkActive="active-link"  class="nav__link">
          <mat-icon>settings</mat-icon>
          <span class="nav__name">Dashboard</span>
      </a>

      <a [routerLink]="['/dashboard/usuarios']" routerLinkActive="active-link"  class="nav__link">
          <mat-icon>perm_contact_calendar</mat-icon>
          <span class="nav__name">Usuarios</span>
      </a>

      <a [routerLink]="['/dashboard/proveedores']" routerLinkActive="active-link"  class="nav__link">
          <mat-icon>assignment_turned_in</mat-icon>
          <span class="nav__name">Proveedores</span>
      </a>

      <a [routerLink]="['/dashboard/inventario']" routerLinkActive="active-link"  class="nav__link">
          <mat-icon>shopping_basket</mat-icon>
          <span class="nav__name">Productos</span>
      </a>
      <a [routerLink]="['/dashboard/entrada-salida']" routerLinkActive="active-link"  class="nav__link">
          <mat-icon>import_export</mat-icon>
          <span class="nav__name">Entrada/Salida</span>
      </a>

      <a [routerLink]="['/dashboard/historial']" routerLinkActive="active-link"  class="nav__link">
        <mat-icon>list_alt</mat-icon>
        <span class="nav__name">Historial</span>
    </a>
  </div>
</nav>
      </div>
      <div class="nav_content_page" [ngClass]="toggle == true ? 'show-page' : ''">

      </div>
      <div class="fullpage__container--pages"  [ngClass]="toggle == true ? 'compress-page' : ''">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>